


.feed-container{
    display: flex;
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 30px;
       
    .icon-feed{
        width: 120px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
        &:hover{
            border-bottom: 3px solid blue;
            cursor: pointer;
            background-color: rgb(245, 245, 244);
        }
        .feed-icon{
            color: #67696D;
           
        }
    }
}


@media only screen and (max-width: 414px) {
    .feed-container{
        display: none;
    }
    .menu{
        display: block;
    }
}