
@font-face {
  font-family: myfont;
  src: url('../../font/OpenSans-VariableFont_wdth,wght.ttf');
}

.content-main {
  display: flex;
  margin-top: 20px;
  

  .content-left {
    font-family: myfont;
    font-weight: 600;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    flex: 1.7;
    margin-top: 60px;
    &:hover {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
    }
    .title-Loitat{
      width: 100%;
      height: 36px;
      display: flex;
      gap: 40px;
      margin-top: 20px;
      &:hover .title-bnt {
          display: block;
        }
     
      .title-name{
         margin-left: 20px;
      }
      .title-bnt{
          width: 86px;
          height: 31px;
          border: none;
          color: blue;
          display: none;
          border-radius: 10px;
          &:hover{
              display: block;
          }
         
      }
    }
  }
  .content-feed {
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    margin-top: 60px;
    margin-left: 93px;
    flex: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
    display: flex;
    position: relative;
    gap: 20px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ffff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ffff;
    }

    .poter {
      color: black;
      width: 85%;
      margin-left: 42px;
      height: 130px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 2px 9px rgb(154, 151, 151);
      margin-top: 288px;
    }
    .name-story{
      display: flex;
      gap: 10px;
      max-width: 100%;;
      position: absolute;
     
    }
    
    .post-articles{
      width: 85%;
      margin-left: 42px;
      height: auto;
      border-radius: 10px;
      background-color: #fff;
      
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
      .post-container{
        margin-bottom: 20px;        
        border: 1px solid #ddd; 
        border-radius: 8px;  
        background-color: #fff;
        box-shadow: 0px 2px 9px rgb(154, 151, 151);
      }
    }
   
  }
  .content-right {
    height: 100vh;
    flex: 2;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 60px;
    overflow-y: hidden;
    overflow-x: hidden;
    &:hover {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content-main {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .content-left {
      flex: 1;
      margin-top: 20px;
    }

    .content-feed {
      margin-left: 0;
      flex: 3;
      width: 90%;

      .name-story{
        display: flex;
        gap: 10px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;

        &::-webkit-scrollbar {
          height: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: gray;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
        }
      }
    }

    .content-right {
      flex: 1;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}


@media only screen and (max-width: 414px) {
  .content-main {
    .content-left,
    .content-right {
      display: none;
    }

    .content-feed {
      width: 100%;
      margin-left: 0;
      flex: 1;

      .name-story{
        display: flex;
        gap: 10px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        position: relative;

        &::-webkit-scrollbar {
          height: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #fff;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: #ffff;
        }

      }

      .post-articles,
      .poter {
        width: 100%;
        margin-left: 0;
        height: auto;
        margin-top: 0;
        
       
      }
    }
  }
}
