.poster-heder {
  margin-top: 5px;
  display: flex;
  &:hover{
    cursor: pointer;
   }
  gap: 10px;
  .Reponsive-icon{
    margin-top: 15px;
    font-size: 30px;
    display: none;
  }
  .poster-img {
    width: 49px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    border: 4px solid rgb(77, 77, 229);
    object-fit: cover;
    margin-left: 13px;
    &:hover {
      cursor: pointer;
    }
  }
  .poster-title {
    font-family: 'myfont';
    font-weight: 600;
    font-size: large;
    width: 511px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 14px;
    border: none;
    pointer-events: none;
    /* outline: none; */
    background-color: #F0F2F5;
   
  }
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
  margin-left: 21px;
  margin-bottom: 7px;
}
.poster-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
  height: 63px;
  &:hover{
    cursor: pointer;
   }
  .poster-item {
    margin-left: 23px;
    margin-right: 11px;
    height: 40px;
    padding: 3px;
    line-height: 34px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'myfont';
    font-weight: 600;
    &:hover{
      background-color: #F0F2F5;
     }
    
    .poster-icon {
      font-size: 30px;
  
    }
    .poster-text {
       width: 144px;
       margin-left: 3px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .poster-heder{
    height: 60px;
    .Reponsive-icon{
           display: block;
     }
  }
   .poster-body{
    display: none;
   }
   hr{
    display: none;
   }

}