.app-user {
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 237);
    border-radius: 15px;
  }
  .app-user_icon {
    font-size: 30px;
  }
  .title {
    margin-right: 100px;
    padding: 10px;
  }
  
}
.title-Loitat{
    width: 100%;
    height: 36px;
    display: flex;
    gap: 40px;
    margin-top: 20px;
    &:hover .title-bnt {
        display: block;
      }
   
    .title-name{
       margin-left: 20px;
    }
    .title-bnt{
        width: 86px;
        height: 31px;
        border: none;
        color: blue;
        display: none;
        &:hover{
            display: block;
        }
       
    }
  }
